@model List<ATAPS.Models.DisplayObject.EventDateDisplayObject>

@{
    ViewBag.Title = "Agendas";
}

<h2>Agendas</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Agendas
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate.EventDate1)
            </td>
            <td>
                @foreach (var aItem in item.Agendas)
                {
                    <p>
                        <a href="../Host/AgendaCheckins/?id=@aItem.ID">
                            @Html.DisplayFor(dateItem => aItem.AgendaName)
                        </a>
                    </p>
                }


            </td>
        </tr>
    }
</table>
