@model ATAPS.Models.Agenda

@{
    ViewBag.Title = "Agenda Details";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgendaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendaOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaOrder)
        </dd>

    </dl>
</div>
<p>
    <a href="/Agenda/Edit/@Model.ID?filter=@ViewBag.FilterID">Edit</a> |
    <a href="javascript:window.history.back()">Back to List</a>
</p>
