/* Styling for the attendee photo on the display screen for winner's parade */
.AttendeePhoto
{
    position:absolute;
    left:0px;
    width:100vw;
    text-align:center;
    margin-top:100px;
}

/* Styling for the attendee name on the display screen for winner's parade */
.AttendeeName
{
    position:absolute;
    left:0px;
    width:100vw;
    font-weight:bold;
    font-size:36pt;
    text-align:center;
    margin-top:400px;
}

/* Styling for the attendee title on the display screen for winner's parade */
.AttendeeTitle
{
}

/* Styling for the attendee department on the display screen for winner's parade */
.AttendeeDept
{
}