<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">

<style>
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
}
</style>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<h2>Winners Parade - Admin Controls</h2>
<a href="/Winners">Back to main winners screen</a><br /><br />

<div id="AttendeeInfo"></div><br /><br />

<button id="PrevBtn" onclick="PrevAttendee()" class="btn btn-primary has-spinner" style="width:200px">
    Previous Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<button id="NextBtn" onclick="NextAttendee()" class="btn btn-primary has-spinner" style="width:200px">
    Next Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<br /><br />

<button id="ResetBtn" onclick="ResetAttendee()" class="btn btn-danger has-spinner" style="width:200px">
    Reset to First Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<script language="Javascript">

    $(document).ready(function () {
        ShowInfo();
    });

    function ShowInfo ()
    {
        // send an udpate request, receive it and display it
        $.ajax({
            dataType: "json",
            url: "/Winners/WinnersUpdate/",
            success: function (data) {

                // show attendee info
                var str = "<strong><u>Current attendee (position " + data["curr_queue_pos"] + "):</u></strong><br>";
                str += "Name: " + data["curr_name"] + "<br>";
                str += "Preferred name: " + data["curr_preferred"] + "<br>";
                str += "Phonetic: " + data["curr_phonetic"] + "<br>";
                var img = (data["curr_picture"] != null) ? data["curr_picture"] : "/Content/attendee_photos/generic_conference_photo.png";
                str += "<img src=\"" + img + "\" style=\"height:50px\"><br>";
                if ("next_name" in data)
                {
                    str += "<br>";
                    str += "<strong><u>Next up:</u></strong><br>";
                    str += "Name: " + data["next_name"] + "<br>";
                    str += "Preferred name: " + data["next_preferred"] + "<br>";
                    str += "Phonetic: " + data["next_phonetic"] + "<br>";
                    var img = (data["next_picture"] != null) ? data["next_picture"] : "/Content/attendee_photos/generic_conference_photo.png";
                    str += "<img src=\"" + img + "\" style=\"height:50px\"><br>";
                }
                $("#AttendeeInfo").html(str);

                // enable/disable buttons
                if (data["can_click_prev"] == "true")
                {
                    $("#PrevBtn").removeClass("disabled");
                    $("#ResetBtn").removeClass("disabled");
                }
                else
                {
                    $("#PrevBtn").addClass("disabled");
                    $("#ResetBtn").addClass("disabled");
                }
                if (data["can_click_next"] == "true")
                {
                    $("#NextBtn").removeClass("disabled");
                }
                else
                {
                    $("#NextBtn").addClass("disabled");
                }

            }
        });
        setTimeout("ShowInfo()", 250);
    }

    function PrevAttendee()
    {
        $("#PrevBtn").addClass('active');
        $.ajax({
            dataType: "json",
            url: "/Winners/Prev",
            success: function (data) {
                $("#PrevBtn").removeClass('active');
                ShowInfo();
            }
        });
    }

    function NextAttendee ()
    {
        $("#NextBtn").addClass('active');
        $.ajax({
            dataType: "json",
            url: "/Winners/Next",
            success: function (data) {
                $("#NextBtn").removeClass("active");
                ShowInfo();
            }
        });
    }

    function ResetAttendee()
    {
        if (confirm("Are you sure you wish to reset?"))
        {
            $("#ResetBtn").addClass('active');
            $.ajax({
                dataType: "json",
                url: "/Winners/Reset",
                success: function (data) {
                    $("#ResetBtn").removeClass('active');
                    ShowInfo();
                }
            });
        }
    }

</script>