<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">

<style>
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}
</style>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<h2>Winners Parade - Admin Controls</h2>
<a href="/Winners">Back to main winners screen</a><br /><br />

<button id="PrevBtn" onclick="PrevAttendee()" class="btn btn-primary has-spinner" style="width:200px">
    Previous Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<button id="NextBtn" onclick="NextAttendee()" class="btn btn-primary has-spinner" style="width:200px">
    Next Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<br /><br />

<button id="ResetBtn" onclick="ResetAttendee()" class="btn btn-danger has-spinner" style="width:200px">
    Reset to First Attendee
    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
</button>

<script language="Javascript">

    function PrevAttendee()
    {
        $("#PrevBtn").addClass('active');
        $.ajax({
            dataType: "json",
            url: "/Winners/Prev",
            success: function (data) {
                $("#PrevBtn").removeClass('active');
            }
        });
    }

    function NextAttendee ()
    {
        $("#NextBtn").addClass('active');
        $.ajax({
            dataType: "json",
            url: "/Winners/Next",
            success: function (data) {
                $("#NextBtn").removeClass("active");
            }
        });
    }

    function ResetAttendee()
    {
        if (confirm("Are you sure you wish to reset?"))
        {
            $("#ResetBtn").addClass('active');
            $.ajax({
                dataType: "json",
                url: "/Winners/Reset",
                success: function (data) {
                    $("#ResetBtn").removeClass('active');
                    alert("The attendee list position has been reset.");
                }
            });
        }
    }

</script>