<script src="/Content/animation.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/style.css">

<div class="AttendeePhoto"></div>
<div class="AttendeeName"></div>

<script language="Javascript">

    // hide the header/footer
    $(document).ready(function () {
        $(".navbar, h2, footer, hr, a").hide ();
    });

    // integrate animate.css
    $(document).ready(function () {
        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });
    });

    // start the display cycle
    $(document).ready(function () {
        console.log("Starting the display cycle");
        ShowInfo();
    });

    // do one update request and display the results
    function ShowInfo()
    {
        // the container objects
        var c_photo = $(".AttendeePhoto");
        var c_name = $(".AttendeeName");

        // send an ajax request to get an update
        console.log("Sending an update request");
        $.ajax({
            dataType: "json",
            url: "/Winners/WinnersUpdate/",
            error: function (data) {
                console.log("Request timed out, setting timer for next request");
                setTimeout("ShowInfo()", 250);
            },
            success: function (data) {
                console.log("Received a response");

                // see if it's the end of the parade
                if (data["status"] == "failure")
                {
                    // transition the old info out
                    c_photo.animateCss(wp_display_out_anim);
                    c_name.animateCss(wp_display_out_anim);
                    c_photo.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {
                        c_photo.html("");
                        c_name.html("");
                    });
                }

                // see if the incoming attendee is different from what we already displaying
                if ("curr_id" in data && c_photo.data("id") != data["curr_id"])
                {
                    console.log("And the response shows a new attendee");
                    // save this as the new attendee
                    c_photo.data("id", data["curr_id"]);
                    console.log("Fading out the old attendee");

                    // transition the old info out
                    c_photo.animateCss(wp_display_out_anim);
                    c_name.animateCss(wp_display_out_anim);

                    // display the new info and transition it in after previous animation is complete
                    c_photo.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {
                        console.log("Fade out complete, starting fade in");

                        // show attendee info
                        var img = (data["curr_picture"] != null) ? data["curr_picture"] : "/Content/attendee_photos/generic_conference_photo.png";
                        var imgref = "<img class=\"img-thumbnail\" src=\"" + img + "\">";
                        c_photo.html(imgref);
                        c_name.html(data["curr_preferred"]);

                        c_photo.animateCss(wp_display_in_anim);
                        c_name.animateCss(wp_display_in_anim);
                        c_photo.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {
                            console.log("Fade in complete, continuing cycle");

                            // continue the cycle
                            ShowInfo();

                        });
                    });
                }
                else
                {
                    //console.log("And the response shows same attendee");

                    // if same attendee, then try again in 250ms
                    setTimeout("ShowInfo()", 250);
                }

            }
        });
    }

</script>