@model ATAPS.Models.Attendee

@{
    ViewBag.Title = "Winners Parade";
}

<div class="row">
    <div class="col-md-4">
        <h2>Winners Parade</h2>
        <p><a href="/Winners/Admin">Admin Controls</a></p>
        <p><a href="/Winners/Display">Display Board</a></p>
        <p><a href="/Winners/Presenter">Presenter Screen</a></p>
        <p><a href="/Winners/Speaker">Speaker Screen</a></p>
    </div>
</div>