<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<h2>Winners Parade - Presenter Screen</h2>
<a href="/Winners">Back to main winners screen</a>
<h1 style="width:100%; text-align:center; margin-top:150px; margin-bottom:150px" id="AttendeeInfo"></h1>

<script language="Javascript">

    // integrate animate.css
    $(document).ready(function () {
        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });
    });

    // start the display cycle
    $(document).ready(function () {
        ShowInfo();
    });

    // do one update request and display the results
    function ShowInfo()
    {
        // the container object
        var c = $("#AttendeeInfo");

        // send an ajax request to get an update
        $.ajax({
            dataType: "json",
            url: "/Winners/WinnersUpdate/",
            success: function (data) {

                // see if the incoming attendee is different from what we already displaying
                if ("curr_id" in data && c.data("id") != data["curr_id"])
                {
                    // save this as the new attendee
                    c.data("id", data["curr_id"]);

                    // transition the old info out
                    c.animateCss("fadeOut");

                    // display the new info and transition it in after previous animation is complete
                    c.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {

                        // show the info
                        str = "<strong><u>Current Attendee</u></strong><br>";
                        str += data["curr_name"];
                        if ("next_id" in data)
                        {
                            str += "<br><br>";
                            str += "<strong><u>Next Up</u></strong><br>";
                            str += data["next_name"];
                        }
                        c.html(str);

                        c.animateCss("fadeIn");
                        c.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {

                            // continue the cycle
                            ShowInfo();

                        });
                    });

                }
                else
                {
                    // if same attendee, then try again in one second
                    setTimeout("ShowInfo()", 1000);
                }

            }
        });
    }
</script>