<html>
<head>
<title>Speaker Screen</title>
</head>
<body>

<script src="/Content/animation.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Winners Parade - Speaker Screen</h2>
<a href="/Winners">Back to main winners screen</a>
<h1 style="width:100%; text-align:center; margin-top:150px; margin-bottom:150px" id="AttendeeInfo"></h1>

<script language="Javascript">

    // integrate animate.css
    $(document).ready(function () {
        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
            }
        });
    });

    // start the display cycle
    $(document).ready(function () {
        ShowInfo();
    });

    // do one update request and display the results
    function ShowInfo()
    {
        // the container object
        var c = $("#AttendeeInfo");

        // send an ajax request to get an update
        $.ajax({
            dataType: "json",
            url: "/Winners/WinnersUpdate/",
            error: function (data) {
                setTimeout("ShowInfo()", 250);
            },
            success: function (data) {

                // see if it's the end of the parade
                if (data["status"] == "failure") {
                    // transition the old info out
                    c.animateCss(wp_speaker_out_anim);
                    c.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {
                        c.html("");
                    });
                }

                // see if the incoming attendee is different from what we already displaying
                if ("curr_id" in data && c.data("id") != data["curr_id"])
                {
                    // save this as the new attendee
                    c.data("id", data["curr_id"]);

                    // transition the old info out
                    c.animateCss(wp_speaker_out_anim);

                    // display the new info and transition it in after previous animation is complete
                    c.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {

                        // show the info
                        str = "<strong><u>Current Attendee</u></strong><br>";
                        str += "Preferred name: " + data["curr_preferred"] + "<br>";
                        str += "Phonetic: <i>" + data["curr_phonetic"] + "</i>";
                        if ("next_id" in data)
                        {
                            str += "<br><br>";
                            str += "<strong><u>Next Up</u></strong><br>";
                            str += "Preferred name: " + data["next_preferred"] + "<br>";
                            str += "Phonetic: <i>" + data["next_phonetic"] + "</i>";
                        }
                        c.html(str);

                        c.animateCss(wp_speaker_in_anim);
                        c.one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {

                            // continue the cycle
                            ShowInfo ();

                        });
                    });

                }
                else
                {
                    // if same attendee, then try again in 250ms
                    setTimeout("ShowInfo()", 250);
                }

            }
        });
    }
</script>

</body>
</html>