@model List<ATAPS.Models.DisplayObject.EventDateDisplayObject>

@{
    ViewBag.Title = "Agendas";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Agendas</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Agendas
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate.EventDate1)
            </td>
            <td>
                @foreach (var aItem in item.Agendas)
                {
                    <p>
                        <a href="/Host/AgendaCheckins/?id=@aItem.ID">
                            @Html.DisplayFor(dateItem => aItem.AgendaName)
                        </a>
                    </p>
                }


            </td>
        </tr>
    }
</table>
