@model List<ATAPS.Models.DisplayObject.EventDateDisplayObject>
@{
    ViewBag.Title = "Checkins";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Checkins</h2>
<p>
    Select Agenda:
    "Agenda List Here":  Clicking one of these links will send the user to the particular Agenda the checkins will guide

    @foreach (var item in Model)
    {
        // this is the list of EventDates
    <p><strong>@Html.DisplayFor(modelItem => item.EventDate.EventDate1)</strong></p>
        <table class="table">
            <tr>
                <th>
                    Agenda Name
                </th>
                <th>
                    Activities
                </th>
                <th></th>
            </tr>
            @foreach (var agendaItem in item.AgendaFull)
            {
                <tr>
                    <td>
                        <a href="javascript:ClickedAgenda(@agendaItem.Agenda.EventDateID,@agendaItem.Agenda.ID)">@agendaItem.Agenda.AgendaName</a>
                    </td>
                    <td>
                        @foreach (var activity in agendaItem.ActivityList)
                        {
                            <p>
                                @activity.ActivityName
                            </p>
                        }
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />
        <br />
    }    </p>

<script language="Javascript">
    function ClickedAgenda (eventDateID, agendaID)
    {
        sessionStorage.setItem("agendaSelectValue", agendaID);
        window.location.href = "/Host/RFIDTool?filter=" + eventDateID;
    }
</script>