@model ATAPS.Models.DisplayObject.EventDisplayObject
@{
    ViewBag.Title = "Host Dashboard";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Dashboard</h2>
<p>
    <strong>Event HUD for:  @Model.Event.EventName</strong>
</p>

<p>
    <a href="/Host/Attendees">Attendee Status</a>
</p>
<p>
    <a href="/Attendees/?filter=@Model.Event.ID">All Attendees</a>
</p>
<p>
    <a href="/Host/Agendas">Agendas Dash</a>
</p>
<p>
    <a href="/Host/Checkins">Checkin Tool</a>
</p>
<p>
    <a href="/Registration">Registration</a>
</p>
