@model ATAPS.Models.DisplayObject.EventDisplayObject
@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>
<p>
    <strong>Event HUD for:  @Model.Event.EventName</strong>
</p>

<p>
    <a href="../Host/Attendees">Attendees List</a>
</p>
<p>
    <a href="../Host/Agendas">Agendas Dash</a>
</p>
<p>
    <a href="../Host/Checkins">Checkin Tool</a>
</p>
<p>
    <a href="../Registration">Registration</a>
</p>
