@model List<ATAPS.Models.Agenda>
@{
    ViewBag.Title = "RFIDTool";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>

@section Scripts {
    <script language="javascript">
        function AgendaSelected ()
        {
            // when this is called, call the PopulateActivity API
            var id = $('#agendaSelect').val();

            // set a cookie to hold the newly selected value
            Cookies.set ("agendaSelectValue", id);

            $.getJSON("/api/Call/GetActivitiesByAgendaID",
                {
                    filter: id
                },
                function (data){
                    // got back the list
                    if(data.length > 0){
                        // there are activities
                        $('#agendaOnly').hide();
                        $('#agendaWithActivities').show();
                        $('#activitySelect').empty();
                        var defOptAct = $('<option />').val(0).text("--- Select Activity ---");
                        $("#activitySelect").append(defOptAct);
                        var activitySelectValue = Cookies.get ("activitySelectValue");
                        for(var i=0;i<data.length;i++){
                            var selected = (activitySelectValue == data[i].Activity.ID) ? "selected" : "";
                            var actOption = $('<option ' + selected + '/>').val(data[i].Activity.ID).text(data[i].Activity.ActivityName);
                            $("#activitySelect").append(actOption);
                        }
                        if (activitySelectValue != undefined)
                        {
                            ActivitySelected ();
                        }
                    } else {
                        // there are no activities
                        $('#agendaOnly').show();
                        $('#agendaWithActivities').hide();


                    }
                });
            $( "#activitySelect" ).change(ActivitySelected);
            $('#SearchString').keyup(function () {
                var search = this.value;
                var aID = $('#agendaSelect').val();
                var cID = $('#activitySelect').val();
                if(cID <= 0){cID = -1;}
                dStr = "";
                if($("input:radio[name='groupDir']:checked").val()){
                    dStr = $("input:radio[name='groupDir']:checked").val();
                }
                $.getJSON("/api/Call/TagAttendeeInByID",
                    {
                        // arguments
                        rfid: search,
                        agendaID: aID,
                        activityID: cID,
                        dir: dStr
                    }, function (data){
                        // check the return code
                        if (data.Attendee.ID == 0){
                            // more than one found
                            $('#fullName').html('NO USER FOUND FOR THIS RFID');
                        } else{
                            // only one found
                            $('#fullName').html(data.Attendee.LastName + ", " + data.Attendee.FirstName);
                            $('#attendeeCurrentCount').html(data.CheckedInCount);
                        }
                        if(data.DuplicateCheckin){
                            $('#alert-text').html('THIS USER IS ALREADY CHECKED IN / OUT');
                        }

                    });
            });

            $("form").submit(function() {// replaced the click handler below with this submit handler because the card readers weren't simulating a button click
                //$("#submit-search").click(function () {
                var search = $('#SearchString')[0].value;
                var aID = $('#agendaSelect').val();
                var cID = $('#activitySelect').val();
                if(cID <= 0){cID = -1;}
                dStr = "";
                if($("input:radio[name='groupDir']:checked").val()){
                    dStr = $("input:radio[name='groupDir']:checked").val();
                }
                $.getJSON("/api/Call/TagAttendeeInByID",
                    {
                        // arguments
                        rfid: search,
                        agendaID: aID,
                        activityID: cID,
                        dir: dStr
                    }, function (data){
                        // check the return code

                        if (data.Attendee.ID == 0){
                            // more than one found
                            $('#fullName').html('NO USER FOUND FOR THIS RFID');
                        } else{
                            // only one found
                            $('#fullName').html(data.Attendee.LastName + ", " + data.Attendee.FirstName);
                            $('#attendeeCurrentCount').html(data.CheckedInCount);
                        }
                        if(data.DuplicateCheckin){
                            $('#alert-text').html('THIS USER IS ALREADY CHECKED IN / OUT');
                        }
                    });
            });
        }
        function ActivitySelected ()
        {
            // when this is called, call the PopulateActivity API
            var id = $('#activitySelect').val();

            // set a cookie to hold the newly selected value
            Cookies.set ("activitySelectValue", id);

            $.getJSON("/api/Call/GetActivityByID",
                {
                    filter: id
                },
                function (data){
                    // got back the list
                    $('#attendeeCurrentCount').html('');
                    if(data.ActivityType != null){
                        $('#attendeeCurrentCount').html(data.CheckedInCount);
                        // there is an activity by that ID
                        // Enable / Disable CheckIn radio
                        if(data.ActivityType.CheckIn == true){
                            $('#dirIn').attr('disabled', false);}
                        else{$('#dirIn').attr('disabled', true);}
                                            
                        // Enable / Disable CheckOut radio
                        if(data.ActivityType.CheckOut == true){
                            $('#dirOut').attr('disabled', false);}
                        else{$('#dirOut').attr('disabled', true);}
                                            
                        // Enable / Disable AttendeeLimitInput radio
                        if(data.ActivityType.AttendeeLimit == true){
                            $('#attendeeLimit').show();
                            $('#attendeeCurrentCount').attr('disabled', false);
                            $('#attendeeCurrentCount').html('');
                            // display the current CheckedIn count, color the Span if beyond limit (and limit exists)
                            if(data.CheckedInCount != null){
                                $('#attendeeCurrentCount').html(data.CheckedInCount);
                            }
                        }
                        else{
                            $('#attendeeLimit').hide();
                            //$('#attendeeCurrentCount').attr('disabled', true);
                            //$('#attendeeCurrentCount').html('');
                        }
                    }
                });
        }

        $(document).ready(function () {
            $('#agendaOnly').hide();
            $('#agendaWithActivities').hide();
            $('#agendaSelect').empty();
            // call populate Agenda DDL
            $.getJSON("/api/Call/GetAgendasByEventDateID",
                {
                    filter: @ViewBag.EventDateID
                },
                    function (data) {
                        // map the Agenda list to the DDL
                        var agendaSelectValue = Cookies.get ("agendaSelectValue");
                        var defOpt = $('<option />').val(0).text("--- Select Agenda ---");
                        $("#agendaSelect").append(defOpt);
                        for(var i=0;i<data.length;i++){
                            var selected = (agendaSelectValue == data[i].ID) ? "selected" : "";
                            var option = $('<option ' + selected + '/>').val(data[i].ID).text(data[i].AgendaName);
                            $("#agendaSelect").append(option);
                        }
                        if (agendaSelectValue != undefined)
                        {
                            AgendaSelected ();
                        }

                        // map the Agenda List onchanged function to re-fresh the Activities
                        $( "#agendaSelect" ).change(AgendaSelected);
                    });
        });
    </script>}

<h2>RFIDTool</h2>
<p>
    <a href="/Host/RFIDByName?filter=@ViewBag.EventDateID">Check In / Out By Name</a>
</p>
<p>
    <div class="form-group">
        <span class="control-label col-md-2">Select Agenda Element: </span>
        <select id="agendaSelect" class="col-md-10 dropdown"></select>
    </div>
    @*This area will show differently if there are / are-not Activities for this Agenda*@
    <div id="agendaOnly">
        <h3>Agenda Only</h3>
        <div class="form-group">
            @*<span class="control-label col-md-2">Check-In: </span>
            <select id="inOutSelect" class="col-md-10"></select>*@

            @*-----Nothing else is required here-----*@

            
        </div>
    </div>
    <div id="agendaWithActivities">
        <h3>Agenda with Activities</h3>
        <div class="form-group">
            @*<span class="control-label col-md-2">Check-In: </span>
            <select id="inOutSelect" class="col-md-10"></select>*@

            @*-----Activity Selector to show what, precicisely, the Attendee is being checked in / out of-----*@
            <h4>Select Activity to Log</h4>
            <select id="activitySelect" class="col-md-10"></select>
            <div class="col-md-10" style="margin-top: 2em;">
                <div class="row" style="margin: 1em;">
                    <input type="radio" checked name="groupDir" value="In" id="dirIn" style="float: left; clear: none;" class="radio col-md-2" /><label for="dirIn" class="col-md-6" style="float: left; clear: none;">Check IN</label><br />
                </div>
                <div class="row" style="margin: 1em;">
                    <input type="radio" name="groupDir" value="Out" id="dirOut" style="float: left; clear: none;" class="radio col-md-2" /><label for="dirOut" style="float: left; clear: none;" class="col-md-6">Check OUT</label><br />
                </div>
            </div>
            <div id="attendeeLimit" style="margin-top: 1em;">
                Attendee Limit<br/>
                <input id="attendeeLimitSet" type="number"/><br/>
            </div>
            <text><span style="font-size: 36px;" id="attendeeCurrentCount">999</span></text><br/>
            <text><span style="color: red;" id="alert-text"></span></text>
        </div>
    </div>
    <div class="form-group">
        <span class="control-label col-md-2">Full Name: </span>
        <span class="ccol-md-10" id="fullName"></span><br />
        <div id="attendeeImage">

        </div>
    </div>
    @using (Html.BeginForm())
    {
    <p>
        RFID: @Html.TextBox("SearchString", "")
        <input type="submit" id="submit-search" value="Search"/>
    </p>
    }
    </p>