@{
    ViewBag.Title = "Assign RFID";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Assign Rfid to @ViewBag.attendee.FirstName @ViewBag.attendee.LastName</h2>

<form method="post" action="/Registration/ReceiveRfid">
    <input type="hidden" name="id" value="@ViewBag.attendee.ID" />

    <div class="form-group">
        <label class="control-label col-md-2" for="ParticipantID">RfID</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" name="rfid" type="number" value="" />
        </div>
    </div><br /><br />

    <div class="form-group">
        <label class="col-md-2"></label>
        <div class="col-md-10">
            <input type="submit" value="Save" />
        </div>
    </div><br /><br />

</form>