@model ATAPS.Models.DisplayObject.AgendaDisplayObject
@{
    ViewBag.Title = "Busses";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Busses</h2>

<p>
    <a href="/Registration/CreateBus">Create New Bus</a>
</p>

@foreach(var bus in Model.ActivityList)
{
    <p>
        <a href="/Registration/BulkCheckin?id=@bus.ID">@bus.ActivityName</a>
        @*
            |
            <a href="/Registration/Monitor?filter=@bus.ID">Assign RFIDs</a>
        *@
    </p>
}


<p>
    <a href="javascript:window.history.back()">Back to Registration</a>
</p>