
@{
    ViewBag.Title = "IndivCheckin";
}

<h2>IndivCheckin</h2>

<p>attendee name</p>

<p>activity name list</p>

<p>add gift card button (supersig for each)</p>
<p>text input for card # (obtained by swipe), ss canvas, submit and clear</p>

<p>waiver list (each item has a supersig link)</p>
show waiver with ss box
popup to display the waiver, tap to sign, checkbox to show they have signed it...
