@model List<ATAPS.Models.DisplayObject.ActivityDisplayObject>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { filter = ViewBag.FilterID })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.ActivityName)
        </td>
        <td>

            <a href="/Activities/Edit/@item.Activity.ID?filter=@item.Agenda.ID">Edit</a> |

            <a href="/Activities/Details/@item.Activity.ID?filter=@item.Agenda.ID">Details</a> |

            <a href="/Activities/Delete/@item.Activity.ID?filter=@item.Agenda.ID">Delete</a>

            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
