@model ATAPS.Models.DisplayObject.EventDisplayObject

@{
    ViewBag.Title = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<div class="row">
    <div class="col-md-4">
        <h2>Admin Section</h2>
        <p><a href="/Clients">Clients</a></p>
        @*<p><a href="/EventRecords">Events</a></p>*@
        <p><a href="/AgendaTemplates">Agenda Templates</a></p>
        @*<p><a href="/EventDates">EventDates</a></p>*@
        @*<p><a href="/Agenda">Agendas</a></p>*@
        @*<p><a href="/Activity">Activities</a></p>*@
        @*<p><a href="/ActivityDetails">Activity Details</a></p>*@
        @*<p><a href="/Attendees">Attendees</a></p>*@
        <p><a href="/AttendeeTypes">Attendee Types</a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkin Tool</h2>
        @*
            <p><a href="/Host">Host Dashboard</a></p>
        *@
        <p><a href="/Host/Attendees">Attendee Status</a></p>
        <p><a href="/Attendees/?filter=@Model.Event.ID">All Attendees</a></p>
        <p><a href="/Host/Agendas">Agendas Dash</a></p>
        <p><a href="/Host/Checkins">Checkin Tool</a></p>
        <p><a href="/Registration">Registration</a></p>
        <p><a href="/Registration/Monitor">Registration Monitor</a></p>
    </div>
    <div class="col-md-4">
        <h2>Winners Parade</h2>
        <p><a href="/winners">Winners Parade</a></p>
    </div>
</div>